name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build-and-test:
    strategy:
      matrix:
        runner-image:
          - archlinux:base-devel
          - ubuntu:22.04
    runs-on: ubuntu-latest
    container: ${{ matrix.runner-image }}

    steps:
      - uses: actions/checkout@v6

      - name: System dependencies (Arch)
        if: ${{ startsWith( matrix.runner-image, 'archlinux:') }}
        run: pacman -Syy --noconfirm udev libinput systemd-sysvcompat

      - name: System dependencies (Ubuntu)
        if: ${{ startsWith( matrix.runner-image, 'ubuntu:') }}
        run: |
          apt-get update
          apt-get install -y --no-install-recommends build-essential libudev-dev libinput-dev curl ca-certificates

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: llvm-tools-preview

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Build
        run: cargo build

      - name: Test
        run: cargo llvm-cov --lcov --output-path lcov.info

      - name: Coveralls
        uses: coverallsapp/github-action@v1.2.4
        with:
          github-token: ${{ secrets.github_token }}
          flag-name: matrix-${{ matrix.runner-image }}
          path-to-lcov: lcov.info
          parallel: true

  check:
    runs-on: ubuntu-latest
    container: archlinux:base-devel

    steps:
      - uses: actions/checkout@v6

      - name: System dependencies
        run: pacman -Syy --noconfirm udev libinput systemd-sysvcompat

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          components: clippy, rustfmt

      - name: Clippy
        run: cargo clippy --all-targets --all-features
        if: always()

      - name: Rustfmt
        run: cargo fmt --all --check
        if: always()

  coveralls-finished:
    needs: build-and-test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v1.2.4
        with:
          github-token: ${{ secrets.github_token }}
          parallel-finished: true
